body {
    text-align: center;
    background-color: #0076E9;
    padding-top: 15%;
}

.formular {
    font-size: large;
    margin: auto;
    display: inline-block;
    text-align: left;
    border: solid 1px;
    background-color: #ff9933;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

h1 {
    text-align: center;
}

.login {
    text-align: center;
}
